.popup__container {
  max-width: 430px;
  width: calc(100% - 2 * 19px);
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  /* 1st review: Надеюсь допустимо что не удалил, а изменил значение с fixed с relative,
  тк элемент popup__close-button абсолютно позиционируется относительно popup__container.
  Сам popup__container флекс элемент блока popup. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .popup__container {
    padding: 25px 22px;
  }
}
